.apresentacao__com__status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apresentacao__livro {
  width: 250px;
  height: 350px;
  margin: 1rem 1rem 0.5rem 1rem;

  border-radius: 10px;
  border: 3px solid #03a696;
}

h2 {
  text-align: center;
  margin-bottom: 7px;
  color: #012e40;
}

img {
  display: flex;
  width: 70%;
  margin: auto;
}

.editora {
  display: block;
  margin: 3px 0 3px 15%;
  font-size: 0.9rem;
}

.editar__btn {
  padding: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 5px;
  border: none;
}

.editar__btn:hover {
  background-color: rgb(120, 179, 32);
  cursor: pointer;
}

.remover__btn {
  padding: 4px;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: red;
  border-radius: 5px;
  border: none;
}

.remover__btn:hover {
  background-color: rgb(207, 16, 16);
  cursor: pointer;
}

.visualizar {
  padding: 4px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: blue;
  border-radius: 5px;
  border: none;
}

.opcoes__btns {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.status {
  height: 25px;
  width: 220px;
  border-radius: 10px;
  border: 3px solid #f28705;

  padding: 1px 0;
}

.status  p {
  color: #025159;
  font-size: 1rem;
  font-weight: bold;

  text-align: center;
}
