<div class="livro__detail">

    <h1>Desapega Livros</h1>

    <div class="capa">
        <div class="capa__img">
            <img src="" alt="">
        </div>

        <label for="capa" class="btn__carrega__img">Nova capa</label>
        <input id="capa__btn" type="file" accept="image/*">
    </div>

    <div class="titulo">
        <label for="titulo">Título: </label><br>
        <input id="titulo" type="text" value="{{livro?.titulo}}">
    </div>

    <div class="editora">
        <label for="editora">Editora: </label><br>
        <input id="editora" type="text" value="{{ livro?.editora?.nome}}">
    </div>

    <div class="idioma">
        <label for="idioma">Idioma: </label><br>
        <input id="idioma" type="text" value="{{ livro?.lingua?.nome }}">
    </div>

    <div class="dtPublicacao">
        <label for="dtPublicacao">Data de publicação:</label><br>
        <input id="dtPublicacao" type="text" value="{{ livro?.dtPublicacao}}">
    </div>

    <div class="categorias">

        <h2>Adicione categorias ao livro</h2>

        <div class="adiciona___categoria">
            <input type="text" id="nameCat" placeholder="Digite uma categoria">
            <button class="btns__alteracoes">adiconar</button>
        </div>

        <div class="list__categorias" *ngIf="livro?.categorias?.length != 0">
            <div class="item__categoria" *ngFor="let categoria of livro?.categorias">
                <button class="remove__btn">X</button>
                {{ categoria.nome }}
            </div>
        </div>
    </div>

    <div class="autores">

        <h2>Adicione os autores do livro</h2>

        <div class="adiciona__autor">
            <input type="text" name="" id="" placeholder="Pesquise pelo nome do autor">
            <button class="btns__alteracoes ">adiconar</button>
        </div>

        <div class="cadastrar__autor">
            <p>Não encontrou o autor? Cadastre-o e tente buscar novamente </p>

            <button>cadastrar autor</button>
        </div>

        <table class="lista__autores">

            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Nacionalidade</th>
                    <th>Nome Artístico</th>
                </tr>
            </thead>

            <tr *ngFor="let autor of livro?.autores">
                <td>
                    {{ autor.nome + ' ' + autor.sobrenome }}
                </td>

                <td>
                    {{ autor.nacionalidade }}
                </td>

                <td>
                    {{ autor.nomeArtistico}}
                </td>

                <div class="gerencia__autor">
                    <button class="editar"> editar</button>
                    <button class="remover">remover</button>
                </div>
            </tr>

        </table>

    </div>

    <div class="descricao">
        <label for="descricao">Descrição: </label><br>
        <textarea id="descricao" type="text" value="{{ livro?.descricao }}"></textarea>
    </div>

</div>