<header>

    <h2>Desapega Livros</h2>

    <input type="text" placeholder="Digite o nome de um livro">

    <div class="filtro">
        <label for="filtro">FILTRO</label><br>
        <select name="" id="filtro">
            <option value="Disponíveis">Todos</option>
            <option value="Disponíveis">Disponíveis</option>
            <option value="Doados">Doados</option>
            <option value="Removidos">Removidos</option>
        </select>
    </div>

    <button class="adiciona__livro" (click)="cadstraLivro()">Adiconar livro</button>
</header>