<div class="cadastra__livro">

    <div class="titulo__div">
        <h2 class="titulo__dado">Título</h2>
        <input class="input__simples" type="text" placeholder="Digite o título do livro">
    </div>


    <div class="capa__div">
        <h2 class="titulo__dado ">Capa</h2>

        <div class="espaco__img">
            <img #exibeCapa src="{{ imgBase64 }}" alt="">
        </div>

        <label for="capa__btn" class="label__carrega__img">Carregar capa</label>
        <input (change)="carregaCapa($event)" id="capa__btn" type="file" accept="image/*">
    </div>

    <div>
        <h2 class="titulo__dado">Editora</h2>

        <input class="input__simples" type="text" placeholder="Digite o nome da editora">
    </div>

    <div>
        <h2 class="titulo__dado">Idioma</h2>

        <idioma-select></idioma-select>
    </div>

    <div>
        <h2 class="titulo__dado">Data de publicação</h2>
        <input type="date" max="{{dtMaxPublicacao | date:'yyyy-MM-dd'}}" class="input__simples date-input">
    </div>

    <div>
        <h2 class="titulo__dado">Autores</h2>
        <!-- Fazer Componente abaixo de forma semelhante ao de idiomas, digitar nome e se autor não estiver cadastrado, cadastrá-lo -->
        
        <adiciona-autor></adiciona-autor>
    </div>
    <br><br><br><br><br><br>
</div>